{% extends 'template.html.twig' %}

{% block title %}Visite index{% endblock %}

{% block body %}
    <h1>Visite index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_entree</th>
                <th>Motif</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for visite in visites %}
            <tr>
                <td>{{ visite.id }}</td>
                <td>{{ visite.dateEntree ? visite.dateEntree|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ visite.motif }}</td>
                <td>
                    <a href="{{ path('visite_show', {'id': visite.id}) }}">show</a>
                    <a href="{{ path('visite_edit', {'id': visite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('visite_new') }}">Create new</a>
{% endblock %}
