{% extends 'template.html.twig' %}

{% block title %}Visite{% endblock %}

{% block body %}
    <h1>Visite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ visite.id }}</td>
            </tr>
            <tr>
                <th>Date_entree</th>
                <td>{{ visite.dateEntree ? visite.dateEntree|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Motif</th>
                <td>{{ visite.motif }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('visite_index') }}">back to list</a>

    <a href="{{ path('visite_edit', {'id': visite.id}) }}">edit</a>

    {{ include('visite/_delete_form.html.twig') }}
{% endblock %}
